html {
		background: url(signin.jpg);
		background-repeat: repeat;
		background-size: cover;
}

body {
		margin: 0;
		padding: 0;
		font-family: sans-serif;
}

.signin {
		width: 20%;
		/* height: 45%; */
		background:black;
		color: #fff;
		top: 48%;
		left: 74%;
		position: absolute;
		transform: translate(-50%, -50%);
		box-sizing: border-box;
		padding: 3% 1% 1% 1%;
		border-radius: 5%;
}

#heading {
		/* background-color: #000; */
		height: 15%;
}

#details {
		/* background-color: #000; */
		height: 50%;
}

#button {
		/* background-color: #000; */
		height: 20%
}

#links {
		/* background-color: #000; */
		height: 15%;
}

.image {
		width: 30%;
		height: 25%;
		border-radius: 50%;
		position: absolute;
		top: -18%;
		left: calc(35%);
}

h1 {
		position: relative;
		margin: 0;
		padding: 0 0 10%;
		text-align: center;
		font-size: 180%;
}

.signin p{
		margin: 0;
		padding: 0;
		font-weight: bold;
		font-size: 120%; 
}

.signin input{
		width: 100%;
		margin-bottom: 10%;
}

.signin input[type = "email"], input[type = "password"]
{
		border: none;
		border-bottom: 1px solid #fff;
		background: transparent;
		outline: none;
		color: #fff;
		font-size: 100%;
}


.signin input[type = "submit"]
{
		position: relative;
		border: none;
		outline: none;
		height: 40px;
		background: #fff;
		color: #000;
		font-size: 130%;
		border-radius: 20px;
}

.signin input[type = "submit"]:hover
{
		cursor: pointer;
		background: #fff;
		color: #000;
}

.signin a{
		text-decoration: none;
		font-size: 90%;
		color: #fff;
}

.signin a:hover
{
		font-size: 100%;
		color: #fff;
		text-decoration: underline;
}


#error_box{
	background-color: orange;
	color:white;
	font-size:90%;
	/* padding:2%; */
}

#success_box{
	background-color: green;
	color:white;
	font-size:90%;
	/* padding:2%; */
}

#error_padding{
    padding:2%;
	text-align: left;
}

@media only screen and (min-width:150px) and (max-width:700px){
	.signin{
		width:60%;
		top:40%;
		left:50%;
	}
	html {
		background: url(mobile_background.jpg);

		/* background-size:cover; */
	}
}


@media only screen and (min-width:700px) and (max-width:1340px){
	.signin{
		width:40%;
		top:40%;
		left:50%;
	}
	html {
		background: url(tablet_bg.jpg);

		background-size:cover;
	}

	#details{
		height:50%;
	}
}

@media only screen and (min-height:150px) and (max-height:700px){
	.signin{
		width:35%;
		top:50%;
		left:50%;
		height:70%;
		font-size:80%;
	}
	html {
		background: url(mobile_background.jpg);

		/* background-size:cover; */
	}
#details{
	height:50%;
}

}





